server:
  port: 8084

spring:
  application:
    name: chat-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/revhub_chat
  kafka:
    bootstrap-servers: localhost:9092
    properties:
      reconnect.backoff.ms: 30000
      reconnect.backoff.max.ms: 60000
    listener:
      concurrency: 1
      auto-startup: false
    consumer:
      group-id: chat-group
      auto-offset-reset: earliest
      enable-auto-commit: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        max.block.ms: 2000

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  tracing:
    enabled: false
    sampling:
      probability: 1.0
